:root {
  --color-white: hsl(0, 0%, 100%);
  --color-green: hsl(75, 94%, 57%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  padding: 2.4rem;
  background-color: var(--color-grey-900);
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 32.7rem;
  width: 100%;
  padding: 2.4rem;
  gap: 2.4rem;
  border-radius: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-grey-800);
}

.card__image {
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%;
  align-self: center;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.card__name {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
}

.card__location {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-green);
}

.card__bio {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.card__item {
  list-style: none;
}

.card__link {
  display: block;
  text-decoration: none;
  padding: 1.2rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-grey-700);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.card__link:hover,
.card__link:focus-visible {
  color: var(--color-grey-900);
  background-color: var(--color-green);
}

@media (min-width: 768px) {
  .card {
    max-width: 38.4rem;
    padding: 4rem;
  }
}
